
@Styles.Render("~/Content/Site.css")



<style>
    body {
        background-color:aliceblue;
    }
    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .heading {
        color: black;
    }



</style>

<html>


<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function () {
    $('#radio input').on('change', function()
    {
        var setvalue = $("[type='radio']:checked").val();
        $("#setvalue").val($("[type='radio']:checked").val());
        if (setvalue == 1)
        {
            window.location = '@Url.Action("Create", "User")';
        }

    });

    });

    </script>

</head>

<body>
    <div class="row">
        <div class="column">
            <h2 class="heading">Digitize your school</h2>
            <h2 class="heading">And become Future ready now</h2>
            <img src="~/images/ism.png" alt="Snow" style="width:100%; height:400px;">

        </div>
        <div class="column">
            <h1 class="heading">Online Student Management System</h1>
            <div id="radio">
                <input type="radio" id="Isactive" name="Isactive" value="1">Teacher Login
                <input type="radio" id="Isactive" name="Isactive" value="0">Student Login
                <input type="text" id="setvalue" />
            </div>
            
        </div>
    </div>

    


</body>

</html>



